body{
    border: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: bisque;
}
header{
    background-color: rgb(10, 7, 7);
    color: aliceblue;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
nav a{
    color: aliceblue;
    margin: 20px;
    text-decoration: none;
    font-size: 20px;
}
.main1{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    padding: 130px 190px;  
}
.product{
    margin: 20px;
    padding: 40px;
    background-color: rgb(246, 249, 249);
    text-align: center;
    border-radius: 6px;
}
.btn {
    background-color: rgb(244, 7, 7);
    margin: 50px;
    padding: 10px;
    border-radius: 6px;
    text-decoration: none;
    color: aliceblue;
    font-size: 20px;
}
